In [1]:
Names = ['Peter', 'Paul','James', 'John', 'Ahmed']
Age = (20,24,45,23,50)
Height = [1.2,3.4,5.9,4.5,6.0]

In [2]:
Tab={'Names':Names, 'Age':Age, 'Height':Height}

In [3]:
Tab

{'Names': ['Peter', 'Paul', 'James', 'John', 'Ahmed'],
 'Age': (20, 24, 45, 23, 50),
 'Height': [1.2, 3.4, 5.9, 4.5, 6.0]}

In [6]:
help(Tab.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [7]:
Tab['Names']

['Peter', 'Paul', 'James', 'John', 'Ahmed']

In [8]:

import pandas as pd

In [9]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [10]:
table =pd.DataFrame?

In [ ]:
table =pd.DataFrame

In [12]:
table =pd.DataFrame(Tab)

In [13]:
table

   Names  Age  Height
0  Peter   20     1.2
1   Paul   24     3.4
2  James   45     5.9
3   John   23     4.5
4  Ahmed   50     6.0

In [14]:
def add(a,b):
    return a+b

In [15]:
add(4,5)

9

In [18]:
def calc(a,b,c):
    return (a+b)-c

In [19]:
calc(4,3,2)

5

In [21]:
def add(a,b):
    '''
    This function adds two numbers: e.g add(3,2 ), the answer is 5.
    '''
    return a+b

In [22]:
add?

In [29]:
import math

In [30]:
def perimeter(S):
    return 5*3.142**2*S

In [31]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [32]:
math.pi

3.141592653589793

In [33]:
math.sqrt(25)

5.0

In [36]:
def perimeter(S):
    return 5*math.pi**2*S

In [35]:
R = 50

In [39]:
def perimeter(R):
    return 5*math.pi**2*R

In [41]:
x = 6
y = 10
if x > y:
    print(x)
else:
    print(y)

10

In [42]:
def more(t,y):
    if t > y:
        return(t)
    else:
        return(y)

more(8,2)

In [43]:
more(8,2)

8

In [44]:
def maximum(h, i, m):
    if h>i and h>m:
        return(h)
    elif i>h and i>m:
        return(i)
    elif m>h and m>i:
        return m
    else:
        return 'They are all equal'

In [45]:
maximum(8,8,8)

'They are all equal'

In [59]:
def sum(o):
    total = 0
    for m in o:
        total += m
    return total

In [60]:
sum([2,4,6,8,10])

30

In [61]:
def mul(x):
    total = 1
    for i in x:
        total = total * i
    return total

In [62]:
mul([5,4,3,2,1])

120